/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Main Stylesheet entry file
 *
 * all imported files will be bundled to styles.css
 * in this file it is possible to include files with globbing
 * to include CSS files, just omit the file extension
 */
/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Webfonts
 *
 */
/* no webfonts included */
/*
 * Foundation main file
 * include desired feature by uncommenting line
 * Foundation utils (mixins) are already included
 *
 * @see docs:        https://foundation.zurb.com/sites/docs/
 * @see grid:        https://foundation.zurb.com/sites/docs/xy-grid.html#importing
 * @see breakpoints: https://foundation.zurb.com/sites/docs/media-queries.html#changing-the-breakpoints
 * @see mixins:      https://foundation.zurb.com/sites/docs/sass-mixins.html#general-mixins
 */
/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"; }

button {
  position: relative;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease-out; }

button:focus,
button:hover {
  outline: none; }

button[disabled] {
  cursor: not-allowed; }

/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Basic Formattings
 *
 */
html {
  box-sizing: border-box;
  font-size: 62.5%; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    font-size: 10px; } }

*,
*::before,
*::after {
  box-sizing: inherit; }

[hidden] {
  display: none !important; }

/**
 * Body
 */
body {
  overflow-y: scroll;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  color: #333;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * Headlines
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400; }

/**
 * General Text Formattings
 */
b,
strong {
  font-weight: 700; }

i,
em,
dfn {
  font-style: italic; }

address {
  font-style: normal; }

abbr {
  border-bottom: 1px dotted #999;
  font-variant: small-caps;
  letter-spacing: 1px;
  cursor: help; }

sub,
sup {
  position: relative;
  font-size: 10px;
  line-height: 10px; }

sub {
  top: 4px; }

sup {
  top: -6px; }

q,
cite,
blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic; }

pre,
code {
  background-color: #eee; }

hr {
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #999; }

mark {
  color: #333;
  background-color: #f9eaa6; }

/**
 * Textselection
 */

::selection {
  text-shadow: none;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.99); }

/**
 * Monospaced Text
 */
pre,
code,
kbd,
samp,
var {
  font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier; }

/**
 * Images
 */
img {
  display: block;
  max-width: 100%; }

/**
 * Buttons
 */
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

button {
  overflow: visible;
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  text-transform: none;
  background-color: transparent; }

/* generic page block */
.b-page {
  position: relative;
  min-height: calc(100vh - 124px); }

.b-button {
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.6rem;
  text-decoration: none; }
  .b-button.is-primary {
    color: #fefefe;
    background-color: #999; }
    .b-button.is-primary:hover,
    .keyboard-focus .b-button.is-primary:focus {
      background-color: #b0ca0a; }
    .b-button.is-primary:active {
      background-color: #999; }
  .b-button.is-secondary {
    border: solid 1px #999;
    color: #333;
    background-color: #fefefe; }
    .b-button.is-secondary:hover,
    .keyboard-focus .b-button.is-secondary:focus {
      border-color: #b0ca0a;
      color: #b0ca0a; }
    .b-button.is-secondary:active {
      border-color: #999;
      color: #333; }
  .b-button:disabled, .b-button.is-disabled {
    opacity: .5;
    pointer-events: none; }

.b-footer {
  border: #b0ca0a 1px dashed;
  border-width: 1px 0;
  padding: 2rem;
  background-color: #eee; }

.b-checkbox {
  flex-direction: column;
  display: flex; }
  .b-checkbox .checkbox-field {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px); }
  .b-checkbox .checkbox-label {
    overflow: visible;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
    line-height: 3rem;
    cursor: pointer; }
    .b-checkbox .checkbox-label::before, .b-checkbox .checkbox-label::after {
      content: '';
      display: inline-block; }
    .b-checkbox .checkbox-label::before {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      border: 1px solid #eee;
      border-radius: 4px;
      vertical-align: sub; }
    .b-checkbox .checkbox-label::after {
      background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020.63%2014.42%22%3E%3Cpath%20fill%3D%22%23999%22%20d%3D%22M18.51%200L8.35%2010.18%202.12%203.95%200%206.07l8.35%208.35%2012.28-12.3L18.51%200z%22%2F%3E%3C%2Fsvg%3E);
      background-repeat: no-repeat;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 0;
      width: 2.4rem;
      height: 1.8rem;
      background-size: contain;
      transition: opacity .2s, -webkit-transform .2s;
      transition: transform .2s, opacity .2s;
      transition: transform .2s, opacity .2s, -webkit-transform .2s;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%); }
  .b-checkbox .checkbox-field:checked + .checkbox-label::after {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .b-checkbox .checkbox-field:not(:disabled) + .checkbox-label:hover::before {
    border-color: #999; }
  .b-checkbox .checkbox-field:not(:disabled):focus + .checkbox-label::before {
    border-color: #b0ca0a; }
  .b-checkbox .checkbox-field:disabled + .checkbox-label::before {
    background-color: #eee; }

.b-input .input-field {
  display: block;
  width: 100%;
  height: 3.8rem;
  outline: 0;
  border: none;
  border-radius: 4px;
  padding: 0 .5rem;
  font-size: 1.6rem;
  transition: border-color .2s; }
  .b-input .input-field:not([type="file"]) {
    border: 1px solid #eee; }
  .b-input .input-field:not(:disabled):hover {
    border-color: #999; }
  .b-input .input-field:not(:disabled):focus {
    border-color: #b0ca0a; }
  .b-input .input-field:disabled {
    color: #999;
    background-color: #eee; }
    .b-input .input-field:disabled ::-webkit-input-placeholder {
      color: #999; }
    .b-input .input-field:disabled :-ms-input-placeholder {
      color: #999; }
    .b-input .input-field:disabled ::placeholder {
      color: #999; }

.b-textarea .textarea-field {
  display: block;
  width: 100%;
  min-height: 6em;
  outline: 0;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1.6rem;
  color: #333;
  resize: vertical;
  transition: border-color .2s; }
  .b-textarea .textarea-field:not(:disabled):hover {
    border-color: #999; }
  .b-textarea .textarea-field:not(:disabled):focus {
    border-color: #b0ca0a;
    font-size: 1.6rem;
    /* fix flickering in chrome */ }
  .b-textarea .textarea-field:disabled {
    color: #999;
    background-color: #eee; }

.b-header {
  border-bottom: #b0ca0a 1px dashed;
  padding: 20px;
  background-color: #eee; }
  .b-header .button-menu {
    position: absolute;
    top: 20px;
    right: 20px; }
    @media print, screen and (min-width: 64em) {
      .b-header .button-menu {
        display: none; } }
  .b-header .nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #eee; }
    @media print, screen and (max-width: 63.99875em) {
      .b-header .nav-list {
        display: none; } }
  .b-header .nav-item {
    margin: 0 2rem; }
  .b-header .nav-link {
    text-decoration: none;
    color: #b0ca0a; }
    .b-header .nav-link.is-active {
      border-bottom: 2px solid #b0ca0a; }
  .b-header.is-menu-visible .nav-list {
    position: absolute;
    top: 81px;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    border-bottom: #b0ca0a 1px dashed; }
  .b-header.is-menu-visible .nav-item {
    margin: 2rem; }

.b-home {
  padding: 50px;
  height: 100vh;
  overflow: hidden; }
  .b-home .header {
    height: 70px;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    -webkit-animation: header 1s ease forwards 2s;
            animation: header 1s ease forwards 2s; }

@-webkit-keyframes header {
  to {
    opacity: 1; } }

@keyframes header {
  to {
    opacity: 1; } }
  .b-home .link {
    text-decoration: none;
    color: #232323;
    margin-right: 30px;
    font-size: 22px;
    font-weight: bold; }
    .b-home .link :hover {
      color: tomato;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .b-home .menuToggle {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .b-home .logo {
    text-decoration: none;
    color: #232323;
    font-size: 30px;
    font-weight: bold; }
  .b-home .input {
    margin: 0;
    width: 34px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2; }
  .b-home .line {
    display: block;
    width: 34px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .b-home .line:nth-last-child(4) {
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px; }
  .b-home .line:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%; }
  .b-home .input:checked ~ .line:nth-last-child(4) {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg); }
  .b-home .input:checked ~ .line:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.1);
            transform: rotate(0deg) scale(0.1); }
  .b-home .input:checked ~ .line:nth-last-child(2) {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg); }
  .b-home .menu {
    display: flex;
    margin: -60px 0 0 -30px;
    padding: 30px 0px 30px 80px;
    background: #e9e9e9;
    list-style-type: none;
    border-radius: 0 20px 0;
    transition: -webkit-clip-path 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: clip-path 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: clip-path 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-clip-path 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -webkit-clip-path: circle(0% at 10% 50%);
            clip-path: circle(0% at 10% 50%); }
  .b-home .input:checked ~ .menu {
    -webkit-clip-path: circle(150% at 10% 50%);
            clip-path: circle(150% at 10% 50%); }
  .b-home .content {
    display: grid;
    grid-template-areas: 'title illustration' 'title illustration' 'form illustration';
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 170px); }
    .b-home .content .title {
      display: grid;
      grid-template-areas: 'a' 'text' 'b';
      height: calc((100vh - 170px) / 1.5);
      opacity: 0;
      -webkit-transform: translate(100px, 0);
              transform: translate(100px, 0);
      -webkit-animation: title 1s ease-in-out forwards 1.5s;
              animation: title 1s ease-in-out forwards 1.5s;
      grid-area: title;
      align-items: center; }

@-webkit-keyframes title {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes title {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
    .b-home .content .text {
      grid-area: text;
      font-size: 80px;
      font-weight: bold;
      line-height: 100px;
      font-family: 'Font Awesome 5 Free'; }
    .b-home .content .form {
      opacity: 0;
      height: calc((100vh - 170px) / 3);
      gap: 2px;
      grid-area: form;
      justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(1, 1fr 1fr);
      grid-template-areas: 'a b' 'dropdown location' 'c d';
      -webkit-animation: form 1s ease forwards 2s;
              animation: form 1s ease forwards 2s; }

@-webkit-keyframes form {
  to {
    opacity: 1; } }

@keyframes form {
  to {
    opacity: 1; } }
    .b-home .content .box {
      width: 100%;
      height: calc((100vh - 170px) / 3); }
    .b-home .content .illustration {
      display: grid;
      grid-area: illustration;
      grid-template-columns: repeat(3, 1fr); }
    .b-home .content .shape1 {
      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #91d4dd;
      -webkit-animation: shape1 0.5s linear forwards 1s;
              animation: shape1 0.5s linear forwards 1s;
      -webkit-clip-path: polygon(50% 50%, 0 50%, 0 50%, 0% 50%);
              clip-path: polygon(50% 50%, 0 50%, 0 50%, 0% 50%); }

@-webkit-keyframes shape1 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 50%, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 50%, 0 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 0 50%, 0 0, 50% 0);
            clip-path: polygon(50% 50%, 0 50%, 0 0, 50% 0); } }

@keyframes shape1 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 50%, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 50%, 0 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 0 50%, 0 0, 50% 0);
            clip-path: polygon(50% 50%, 0 50%, 0 0, 50% 0); } }
    .b-home .content .shape2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: url("../img/photo-2.png") center/cover;
      -webkit-animation: shape2 0.5s linear forwards 0.5s;
              animation: shape2 0.5s linear forwards 0.5s;
      -webkit-clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
              clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0); }

@-webkit-keyframes shape2 {
  12.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0); }
  25% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%); }
  37.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%); }
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%); }
  62.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%); }
  75% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%); }
  87.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0); } }

@keyframes shape2 {
  12.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0); }
  25% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%); }
  37.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%); }
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%); }
  62.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%); }
  75% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%); }
  87.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0); } }
    .b-home .content .shape3 {
      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #f6baba;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      -webkit-animation: shape3 0.5s linear forwards;
              animation: shape3 0.5s linear forwards;
      -webkit-clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%);
              clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%); }

@-webkit-keyframes shape3 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 100%); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 50%);
            clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 50%); } }

@keyframes shape3 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 100%); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 50%);
            clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 50%); } }
    .b-home .content .shape4 {
      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #033e56;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-animation: shape4 0.5s linear forwards 1s;
              animation: shape4 0.5s linear forwards 1s;
      -webkit-clip-path: polygon(50% 50%, 100% 50%, 100% 50%, 100% 50%);
              clip-path: polygon(50% 50%, 100% 50%, 100% 50%, 100% 50%); }

@-webkit-keyframes shape4 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 100% 100%); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
            clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%); } }

@keyframes shape4 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 100% 100%); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
            clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%); } }
    .b-home .content .shape5 {
      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #fb7761;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -webkit-animation: shape5 0.5s linear forwards 0.5s;
              animation: shape5 0.5s linear forwards 0.5s;
      -webkit-clip-path: polygon(50% 50%, 100% 50%, 100% 50%, 100% 50%);
              clip-path: polygon(50% 50%, 100% 50%, 100% 50%, 100% 50%); }

@-webkit-keyframes shape5 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 100% 50%, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 100% 50%, 100% 0, 100% 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 100% 50%, 100% 0, 50% 0);
            clip-path: polygon(50% 50%, 100% 50%, 100% 0, 50% 0); } }

@keyframes shape5 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 100% 50%, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 100% 50%, 100% 0, 100% 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 100% 50%, 100% 0, 50% 0);
            clip-path: polygon(50% 50%, 100% 50%, 100% 0, 50% 0); } }
    .b-home .content .shape6 {
      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #2a563f;
      -webkit-transform: none;
              transform: none;
      -webkit-animation: shape6 0.5s linear forwards;
              animation: shape6 0.5s linear forwards;
      -webkit-clip-path: polygon(50% 50%, 50% 0, 0 0, 50% 0);
              clip-path: polygon(50% 50%, 50% 0, 0 0, 50% 0); }

@-webkit-keyframes shape6 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 50% 0, 0 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 0 0, 0 50%);
            clip-path: polygon(50% 50%, 50% 0, 0 0, 0 50%); } }

@keyframes shape6 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 50% 0, 0 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 0 0, 0 50%);
            clip-path: polygon(50% 50%, 50% 0, 0 0, 0 50%); } }
    .b-home .content .shape7 {
      display: grid;
      grid-template-areas: 'a b' 'submit c' 'd e';
      grid-template-columns: repeat(2, 1fr);
      gap: 2px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #f8bcbc;
      -webkit-transform: none;
              transform: none;
      -webkit-animation: shape7 0.5s linear forwards 1s;
              animation: shape7 0.5s linear forwards 1s;
      -webkit-clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
              clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0); }

@-webkit-keyframes shape7 {
  12.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0); }
  25% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%); }
  37.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%); }
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%); }
  62.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%); }
  75% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%); }
  87.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0); } }

@keyframes shape7 {
  12.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0); }
  25% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%); }
  37.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%); }
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%); }
  62.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%); }
  75% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%); }
  87.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0); } }
    .b-home .content .shape8 {
      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #e3d5bb;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      -webkit-animation: shape8 0.5s linear forwards 0.5s;
              animation: shape8 0.5s linear forwards 0.5s;
      -webkit-clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%);
              clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%); }

@-webkit-keyframes shape8 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 100%); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 50%);
            clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 50%); } }

@keyframes shape8 {
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 100%); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 50%);
            clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 50%); } }
    .b-home .content .shape9 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: url("../img/photo-1.png") center/cover;
      -webkit-animation: shape9 0.5s linear forwards;
              animation: shape9 0.5s linear forwards;
      -webkit-clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
              clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0); }

@-webkit-keyframes shape9 {
  12.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0); }
  25% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%); }
  37.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%); }
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%); }
  62.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%); }
  75% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%); }
  87.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0); } }

@keyframes shape9 {
  12.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0); }
  25% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%); }
  37.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%); }
  50% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%); }
  62.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%); }
  75% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%); }
  87.5% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0);
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0); } }
    .b-home .content .dropdown {
      z-index: 1;
      padding: 0 40px;
      grid-area: dropdown;
      border: none;
      outline: none;
      background-color: #fefefe;
      font-family: 'Font Awesome 5 Free';
      font-weight: bold;
      box-shadow: -20px 20px 50px -20px rgba(0, 0, 0, 0.1); }
    .b-home .content .location {
      padding: 0 40px;
      grid-area: location;
      border: none;
      outline: none;
      background-color: #fefefe;
      font-family: 'Font Awesome 5 Free';
      font-weight: bold;
      box-shadow: -20px 20px 50px -20px rgba(0, 0, 0, 0.1); }
      .b-home .content .location::-webkit-input-placeholder {
        color: black; }
      .b-home .content .location:-ms-input-placeholder {
        color: black; }
      .b-home .content .location::placeholder {
        color: black; }
    .b-home .content .submit {
      opacity: 0;
      font-size: 24px;
      color: white;
      grid-area: submit;
      background-color: rgba(0, 0, 0, 0.1);
      -webkit-animation: submit 1s ease forwards 2s;
              animation: submit 1s ease forwards 2s;
      -webkit-clip-path: circle(100% at 100% 50%);
              clip-path: circle(100% at 100% 50%); }

@-webkit-keyframes submit {
  to {
    opacity: 1; } }

@keyframes submit {
  to {
    opacity: 1; } }

.b-not-found {
  margin: auto 0;
  padding: 8rem 4rem;
  text-align: center; }
  .b-not-found .action-button {
    margin: 10px; }
/*# sourceMappingURL=styles.css.map */