{% extends '@layouts/master.twig' %}

{% block title %}nikita kickstarter{% endblock %}
{% block description %}This is the startpage of your nikita kickstarter.{% endblock %}

{% block body %}
    <div id="main-app"></div>
{% endblock %}
