.b-home {
  padding: 50px;
  height: 100vh;
  overflow: hidden;

  .header {
    @keyframes header {
      to {
        opacity: 1;
      }
    }

    height: 70px;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    animation: header 1s ease forwards 2s;
  }

  .link {
    text-decoration: none;
    color: #232323;
    margin-right: 30px;
    font-size: 22px;
    font-weight: bold;

    :hover {
      color: tomato;
      transform: scale(1.1);
    }
  }

  .menuToggle {
    width: fit-content;
    position: relative;
    z-index: 1;
    user-select: none;
  }

  .logo {
    text-decoration: none;
    color: #232323;
    font-size: 30px;
    font-weight: bold;
  }

  .input {
    margin: 0;
    width: 34px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  .line {
    display: block;
    width: 34px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .line:nth-last-child(4) {
    transform-origin: 4px 0px;
  }

  .line:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .input:checked ~ .line:nth-last-child(4) {
    transform: rotate(40deg);
  }

  .input:checked ~ .line:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.1);
  }

  .input:checked ~ .line:nth-last-child(2) {
    transform: rotate(-40deg);
  }

  .menu {
    display: flex;
    margin: -60px 0 0 -30px;
    padding: 30px 0px 30px 80px;
    background: #e9e9e9;
    list-style-type: none;
    border-radius: 0 20px 0;
    transition: clip-path 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    clip-path: circle(0% at 10% 50%);
  }

  .input:checked ~ .menu {
    clip-path: circle(150% at 10% 50%);
  }

  .content {
    display: grid;
    grid-template-areas:
      'title illustration'
      'title illustration'
      'form illustration';
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 170px);

    .title {
      @keyframes title {
        to {
          opacity: 1;
          transform: none;
        }
      }

      display: grid;
      grid-template-areas:
        'a'
        'text'
        'b';
      height: calc((100vh - 170px) / 1.5);
      opacity: 0;
      transform: translate(100px, 0);
      animation: title 1s ease-in-out forwards 1.5s;
      grid-area: title;
      align-items: center;
    }

    .text {
      grid-area: text;
      font-size: 80px;
      font-weight: bold;
      line-height: 100px;
      font-family: 'Font Awesome 5 Free';
    }

    .form {
      @keyframes form {
        to {
          opacity: 1;
        }
      }

      opacity: 0;
      height: calc((100vh - 170px) / 3);
      gap: 2px;
      grid-area: form;
      justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(1, 1fr 1fr);
      grid-template-areas:
        'a b'
        'dropdown location'
        'c d';
      animation: form 1s ease forwards 2s;
    }

    .box {
      width: 100%;
      height: calc((100vh - 170px) / 3);
    }

    .illustration {
      display: grid;
      grid-area: illustration;
      grid-template-columns: repeat(3, 1fr);
    }

    .shape1 {
      @keyframes shape1 {
        50% {
          clip-path: polygon(50% 50%, 0 50%, 0 0, 0 0);
        }

        100% {
          clip-path: polygon(50% 50%, 0 50%, 0 0, 50% 0);
        }
      }

      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #91d4dd;
      animation: shape1 0.5s linear forwards 1s;
      clip-path: polygon(50% 50%, 0 50%, 0 50%, 0% 50%);
    }

    .shape2 {
      @keyframes shape2 {
        12.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
        }

        25% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
        }

        37.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
        }

        50% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
        }

        62.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%);
        }

        75% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%);
        }

        87.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0);
        }

        100% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0);
        }
      }

      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: url('../img/photo-2.png') center/cover;
      animation: shape2 0.5s linear forwards 0.5s;
      clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    }

    .shape3 {
      @keyframes shape3 {
        50% {
          clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 100%);
        }

        100% {
          clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 50%);
        }
      }

      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #f6baba;
      transform: translate(0, -50%);
      animation: shape3 0.5s linear forwards;
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%);
    }

    .shape4 {
      @keyframes shape4 {
        50% {
          clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 100% 100%);
        }

        100% {
          clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
        }
      }

      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #033e56;
      transform: translate(-50%, -50%);
      animation: shape4 0.5s linear forwards 1s;
      clip-path: polygon(50% 50%, 100% 50%, 100% 50%, 100% 50%);
    }

    .shape5 {
      @keyframes shape5 {
        50% {
          clip-path: polygon(50% 50%, 100% 50%, 100% 0, 100% 0);
        }

        100% {
          clip-path: polygon(50% 50%, 100% 50%, 100% 0, 50% 0);
        }
      }

      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #fb7761;
      transform: translate(-50%, 0);
      animation: shape5 0.5s linear forwards 0.5s;
      clip-path: polygon(50% 50%, 100% 50%, 100% 50%, 100% 50%);
    }

    .shape6 {
      @keyframes shape6 {
        50% {
          clip-path: polygon(50% 50%, 50% 0, 0 0, 0 0);
        }

        100% {
          clip-path: polygon(50% 50%, 50% 0, 0 0, 0 50%);
        }
      }

      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #2a563f;
      transform: none;
      animation: shape6 0.5s linear forwards;
      clip-path: polygon(50% 50%, 50% 0, 0 0, 50% 0);
    }

    .shape7 {
      @keyframes shape7 {
        12.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
        }

        25% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
        }

        37.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
        }

        50% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
        }

        62.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%);
        }

        75% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%);
        }

        87.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0);
        }

        100% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0);
        }
      }

      display: grid;
      grid-template-areas:
        'a b'
        'submit c'
        'd e';
      grid-template-columns: repeat(2, 1fr);
      gap: 2px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #f8bcbc;
      transform: none;
      animation: shape7 0.5s linear forwards 1s;
      clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    }

    .shape8 {
      @keyframes shape8 {
        50% {
          clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 100%);
        }

        100% {
          clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 50%);
        }
      }

      width: 200%;
      height: 200%;
      border-radius: 50%;
      background: #e3d5bb;
      transform: translate(0, -50%);
      animation: shape8 0.5s linear forwards 0.5s;
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%);
    }

    .shape9 {
      @keyframes shape9 {
        12.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0);
        }

        25% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
        }

        37.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
        }

        50% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
        }

        62.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%);
        }

        75% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 0 50%);
        }

        87.5% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 0 0);
        }

        100% {
          clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0, 50% 0);
        }
      }

      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: url('../img/photo-1.png') center/cover;
      animation: shape9 0.5s linear forwards;
      clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    }

    .dropdown {
      z-index: 1;
      padding: 0 40px;
      grid-area: dropdown;
      border: none;
      outline: none;
      background-color: $white;
      font-family: 'Font Awesome 5 Free';
      font-weight: bold;
      box-shadow: -20px 20px 50px -20px rgba(0, 0, 0, 0.1);
    }

    .location {
      padding: 0 40px;
      grid-area: location;
      border: none;
      outline: none;
      background-color: $white;
      font-family: 'Font Awesome 5 Free';
      font-weight: bold;
      &::placeholder {
        color: black;
      }
      box-shadow: -20px 20px 50px -20px rgba(0, 0, 0, 0.1);
    }

    .submit {
      @keyframes submit {
        to {
          opacity: 1;
        }
      }

      opacity: 0;
      font-size: 24px;
      color: white;
      grid-area: submit;
      background-color: rgba(0, 0, 0, 0.1);
      animation: submit 1s ease forwards 2s;
      clip-path: circle(100% at 100% 50%);
    }
  }
}
// polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 66%, 50% 66%, 50% 33%, 0 33%);
